.App {
  text-align: center;
}
.simpsonsWrap {
  display: flex;
  flex-wrap: wrap;
  background: azure;
}
.simpsonWrap {
  text-align: center;
  padding: 10px;
  flex: 0 0 30%;
}
.simpsonPhoto {
  height: 300px;
  padding-top: 10px;
}
.simpsonInfo {
  text-align: justify;
}
.charsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.charWrap {
  flex: 0 1 30%;
}
.postsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.postWrap {
  flex: 0 1 30%;
  margin: 10px;
  border: solid 3px #4c9494;
  border-radius: 7px;
  padding: 10px;
  background: #31a4b7;
  color: azure;
}
.postBtn {
  border-radius: 5px;
  margin-top: 7px;
}