.App {
  text-align: center;
}
.simpsonsWrap {
  display: flex;
  flex-wrap: wrap;
  background: azure;
}
.simpsonWrap {
  text-align: center;
  padding: 10px;
  flex: 0 0 30%;
}
.simpsonPhoto {
  height: 300px;
  padding-top: 10px;
}
.simpsonInfo {
  text-align: justify;
}